<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Rayito-celeste.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/LogIn.css">
        <link rel="stylesheet" href="/css/SigIn.css">
        <title>Sign In</title>
    </head>
    <body>
        <header class="header-logsin">
            <div>
            <a href="/" class="logo-logsin"><img src="/img/Logos/logo-negro.png" alt="Logo"></a>
            </div>    
        </header>
        <section>
            <h3 class="titulo-in"> Crear Cuenta</h3>
            <form action="/user/signin" method="POST" class="formulario">


                <input id="input-login"
                       type="text" 
                       name="first_name" 
                       placeholder="Nombre"
                       <% if (locals.oldData) { %>
                        value="<%= oldData.first_name %> "
                       <% } %>
                       >
                <% if (locals.errors && errors.first_name) { %>
                    <div style="color: red; display: flex; justify-content: center; font-family: 'Open Sans', sans-serif; padding-top: 5px;"> 
                        <%= errors.first_name.msg %> 
                    </div>
                <% } %>


                <input id="input-login"
                       type="text" 
                       name="last_name" 
                       placeholder="Apellido"
                       <% if (locals.oldData) { %>
                         value="<%= oldData.last_name %> "
                       <% } %>
                       >
                <% if (locals.errors && errors.last_name) { %>
                    <div style="color: red; display: flex; justify-content: center; font-family: 'Open Sans', sans-serif; padding-top: 5px;"> 
                        <%= errors.last_name.msg %> 
                    </div>
                <% } %>


                <input id="input-login" 
                       type="text" 
                       name="email" 
                       placeholder="Email"
                       <% if (locals.oldData) { %>
                        value="<%= oldData.email %>"
                       <% } %>
                       >
                <% if (locals.errors && errors.email) { %>
                    <div style="color: red; display: flex; justify-content: center; font-family: 'Open Sans', sans-serif; padding-top: 5px;"> 
                        <%= errors.email.msg %> 
                    </div>
                <% } %>


                <input id="input-login" 
                       type="password" 
                       name="password" 
                       placeholder="Contraseña"
                       <% if (locals.oldData) { %>
                       value="<%= oldData.password %> "
                       <% } %>
                        >
                <% if (locals.errors && errors.password) { %>
                    <div style="color: red; display: flex; justify-content: center; font-family: 'Open Sans', sans-serif; padding-top: 5px;"> 
                        <%= errors.password.msg %> 
                    </div>
                <% } %>


                <div class="checkboxes">
                    <div class="check-acep">
                        <label id="terminos">
                            <input type="checkbox" 
                            class="check" 
                            name="accepted_terms"
                            <% if (locals.oldData) { %>
                             value="<%= oldData.accepted_terms %> "
                            <% } %>
                            >
                            Acepto terminos y condiciones
                        </label>
                    </div>
                    <% if (locals.errors && errors.accepted_terms) { %>
                        <div style="color: red; display: flex; justify-content: center; font-family: 'Open Sans', sans-serif; padding-top: 5px;"> 
                            <%= errors.accepted_terms.msg %> 
                        </div>
                       <% } %>
                    <div class="check-reci">
                        <label id="terminos"><input type="checkbox" class="check" name="opt_in_newsletter">Recibir novedades</label><br>
                    </div>
                </div>
                <div id="div-buttons">
                    <input id="button-acept" type="submit" value="Crear cuenta">
                </div>
            </form>
            <p class="line">___________________________________</p>

            <div id="div-buttons">
                <a href="/user/login" style="text-decoration: none"><input id="button-other" type="button" value="Ingresar"></a>
            </div>
        </section>
    </body>
</html>