<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Rayito-celeste.png">
        <link rel="stylesheet" href="/css/createProduct.css">
        <link rel="stylesheet" href="/css/products-header.css">
        <title>Editar producto</title>
    </head>
    <body>
        <header class="header-logsin">
            <%- include("../partials/products-header") %>   
        </header>
        <main>
        <section>
            <h3 class="titulo-in"> Modificar Producto</h3>
            <form  method="POST" class="formulario">

                <h2>Datos generales</h2>
                <div class="seccion-flex">
                    <div>
                        <label for="name">Titulo del producto:</label>
                        <input 
                        <%product.forEach(product =>{%>
                        value="<%=product.name%>" name="name" type="text" > </input>
                        <% }) %>
                        <!--input value=<-%= productoAEditar.name %> type="text" placeholder="Ex: Auto 1" name="name" required-->
                    </div>
                    <div>
                        <label for="description">Descripcion general:</label>
                        <%product.forEach(product => { %>
                            <input type="text"  name="description" value="<%=product.description%>"> </input>
                        <% }) %>
                        <!--input value=<--%= productoAEditar.description %> type="text" placeholder="Ex: Este es un auto..." name="description" required-->
                    </div>
                    <div>
                        <label for="category">Categoría:</label>
                        <% product.forEach(product => { %>
                            <input type="text" name="category" value="<%=product.category%>"> </input>
                        <% }) %>
                    </div>
                    <div>
                        <label for="price">Precio:</label>
                        <% product.forEach(product => { %>
                            <input type="text" name="price" value="<%=product.price%>"> </input>
                        <% }) %>
                        <!--input value=<--%= productoAEditar.price %> type="text" placeholder="Ex: $1000" name="price" required-->
                    </div>
                </div>
                <h2>Secccion principal</h2>
                <div>
                    <label for="image">Imagen principal:</label>
                    <input type="file" name="image" >
                </div>
                <div class="seccion-flex">
                    <div>
                        <h3>Potencia</h3>
                        <label for="potency">Desc :</label>
                        <% product.forEach(product => { %>
                            <input type="text" name="potency" value="<%=product.potency%>"> </input>
                        <% }) %>
                        <!--input value=<--%= productoAEditar.potency %> type="text" placeholder="Ex: 250HP" name="potency" required-->
                    </div>
                    <div>
                        <h3>Autonomía</h3>
                        <label for="autonomy">Desc :</label>
                        <%product.forEach(product => { %>
                            <input type="text" name="autonomy" value="<%=product.autonomy%>"> </input>
                        <% }) %>
                        <!--input value=<--%= productoAEditar.autonomy %> type="text" placeholder="Ex: 300km" name="autonomy" required-->
                    </div>
                    <div>
                        <h3>Seguridad</h3>
                        <label for="security">Desc :</label>
                        <%product.forEach(product => { %>
                            <input type="text" name="security" value="<%=product.security%>"> </input>
                        <% }) %>
                        <!--input value=<--%= productoAEditar.security %> type="text" placeholder="Ex: 5 Airbags" name="security" required-->
                    </div>
                </div>

                    
                <div id="div-buttons">
                    <input id="button-acept" type="submit" value="Modificar">
                </div>
            </main>
            </form>
        </section>
    </body>
    <%- include("../partials/footer") %>
</html>