<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/listProduct.css">
        <link rel="stylesheet" href="/css/Header.css">
        <title>Encontrá tu {{category}}</title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <h1> Encontrá tu vehiculo ideal</h1>
            <% productosAMostrar.forEach(function(product){ %>
            <section>
                <img src= "/img/auto/<%= product.image %>">
                <div>
                    <h3><%= product.name%></h3>
                    <h4>$ <%= product.price%></h4>
                    <p><%= product.description%></p>
                    <a href="http://localhost:3030/products/detail/<%= product.id %>" style="text-decoration: none"><input class="button" type="button" value="Ver más"></a>
                </div>  
                <div>
                    <a href="http://localhost:3030/products/edit/<%= product.id %>" style="text-decoration: none"><input class="button" type="button" value="Editar"></a>
                </div>
                <div>
                    <a href="http://localhost:3030/products/delete/<%= product.id %>" style="text-decoration: none"><input class="button" type="button" value="Eliminar"></a>
                </div>  
            </section>
            <hr>
            <% }); %>
            <div>
                <a href="http://localhost:3030/products/create" style="text-decoration: none"><input class="button" type="button" value="Crear producto"></a>
            </div>  
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>