<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Rayito-celeste.png">
        <link rel="stylesheet" href="/css/listProduct.css">
        <link rel="stylesheet" href="/css/products-header.css">
        <title>Encontrá tu vehículo</title>
    </head>
    <body>
        <%- include("../partials/products-header") %>
        <main>
            <h1> Encontrá tu <%= productosAMostrar[0].category %> ideal</h1>
            <% productosAMostrar.forEach(function(product){ %>
            <% let color; %>
            <% if((product.id) %2 != 0){ %> 
            <% color = "style=background-color:#DEE2E6" %> 
            <% } else { %>
            <% color = "style=background-color:white" %> 
            <% } %> 
            <section  <%= color %>>
                <img class="imagen-lista" src= "/img/<%= product.category %>/<%= product.name %>/<%= product.image %>">
                <div>
                    <h3><%= product.name%></h3>
                    <h4>$ <%= product.price%></h4>
                    <p><%= product.description%></p>
                    <div>
                        <a href="http://localhost:3030/products/detail/<%= product.id %>" style="text-decoration: none"><input class="button" type="button" value="Ver más"></a>
                        <!--a href="http://localhost:3030/products/edit/<%= product.id %>" style="text-decoration: none"><input class="button" type="button" value="Editar"></a>
                        <a href="http://localhost:3030/products/delete/<%= product.id %>" style="text-decoration: none"><input class="button" type="button" value="Eliminar"></a!-->
                    </div>
                </div>  
            </section>
            <% }); %>
            <hr>
            <div style="display: flex;">
                <a class="buttonCreate" href="http://localhost:3030/products/create" style="text-decoration: none"><input class="button" type="button" value="Crear producto"></a>
            </div>  
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>