<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/3eaccf5d38.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/d-products-header.css">   
        <link rel="stylesheet" href="/css/Product.css">
        
        <title><%= productsDetail[0].name %></title>
    </head>
<body>
    <main>
        <section class="section-principal-producto" style="background-image: url('/img/auto/<%= productsDetail[0].name %>-PORTADA.jpg')"> 
            <%- include("../partials/d-products-header") %>
            <div class="title-principal-producto">
                <h1><%= productsDetail[0].name %> </h1>
            </div>
            <div class="caracteristicas-principales">
                <div>
                    <p>Potencia</p>
                    <h2><%= productsDetail[0].potency %> KW</h2>
                </div>
                <div>
                    <p>Autonomia</p>
                    <h2><%= productsDetail[0].autonomy %> Kms</h2>
                </div>
                <div>
                    <p>Seguridad</p>
                    <h2><%= productsDetail[0].security %></h2>
                </div>
            </div>
        </section>
       </section> 
       <section class="section-gris">
        <div>
           <h3>Performance & Autonomía</h3>
           <p><%= productsDetail[0].ch1Desc %></p>
           <a href="http://localhost:3030/cart" style="text-decoration: none"><input class="button-product" type="button" value="Agregar al carrito"></a>
        </div>
        <div>
           <img src="/img/<%= productsDetail[0].category %>/<%= productsDetail[0].ch1Img %>">
        </div>
       </section>
       <section class="section-blanca">
        <div>
            <img src="/img/<%= productsDetail[0].category %>/<%= productsDetail[0].ch2Img %>">
         </div>
        <div>
           <h3>Exterior</h3>
           <p><%= productsDetail[0].ch2Desc %></p>
           <a href="http://localhost:3030/cart" style="text-decoration: none"><input class="button-product" type="button" value="Agregar al carrito"></a>
        </div>
       </section>
       <section class="section-gris">
        <div>
           <h3>Confort</h3>
           <p><%= productsDetail[0].ch3Desc %></p>
           <a href="http://localhost:3030/cart" style="text-decoration: none"><input class="button-product" type="button" value="Agregar al carrito"></a>
        </div>
        <div>
           <img src="/img/<%= productsDetail[0].category %>/<%= productsDetail[0].ch3Img %>">
        </div>
       </section>
    </main>
    
    <%- include("../partials/footer") %>

    </body>
</html>

</body>
</html>